
/**
Max width before this PARTICULAR table gets nasty
This query will take effect for any screen smaller than 760px
and also iPads specifically.
*/
@media only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

  /* Force table to not be like tables anymore */
  table.views-table, .views-table thead, .views-table tbody, .views-table th, .views-table td, .views-table tr {
    display: block;
  }

  /* Hide table headers (but not display: none;, for accessibility) */
  .views-table thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  .views-table tr { border: 1px solid #ccc; }

  .views-table td {
    /* Behave  like a "row" */
    border: none;
    border-bottom: 1px solid #eee;
    position: relative;
    padding-left: 50%;
  }

  .views-table td:before {
    /* Now like a table header */
    position: absolute;
    /* Top/left values mimic padding */
    top: 6px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }
}